version: '3'
services:
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/blacklight
      - bundle_cache:/bundle_cache
    tmpfs: /blacklight/tmp
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file: .env
    environment:
      - AUTH0_CLIENT_ID
      - AUTH0_CLIENT_SECRET
      - AUTH0_DOMAIN
      - RAILS_HOST
      - CI
  bundle_cache:
    image: busybox
    volumes:
      - bundle_cache:/bundle_cache
volumes:
  bundle_cache: