<div class="container">
    <h1>Editing Escape Game</h1>

    <%= render 'form', escape_game: @escape_game %>

    <%= link_to 'Show', @escape_game %> |
    <%= link_to 'Back', escape_games_path %>
</div>