<div class="container my-3">
    <h1>Account</h1>

    <%= react_component 'molecules/UserRepresentation',
        avatar: @user.avatar.attached? ? url_for(@user.avatar) : nil,
        user: @user
        %>

    <%= render 'form', user: @user %>

    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
</div>