<div class="container flex-grow-1 d-flex flex-column align-items-center justify-content-center">
  <h1>Something's fishy...</h1>
  <%= image_tag  "red_herring.svg", style: 'height: 8em', class: 'p-3 error-animation' %>
  <p>
    Looks like you've happened upon an error! Sorry about that...
  </p>
  <% if @status_code == 404 %>
  <p>
    In your case, it seems like the route you're looking for doesn't exist.
  </p>
  <% else %>
  <p>
    You might want to let us know. It's also worth trying again later. Once
    again, apologies!
  </p>
  <% end %>
</div>