<div class="container-fluid">
  <h1>Add Photos - <%= @clear.escape_game.name %></h1>

  <%= render 'form', clear: @clear %>

  <%= link_to 'Show', @clear %> |
  <%= link_to 'Back', clears_path %>
</div>
