/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "rails_bootstrap_forms";

.blurdash-fadeout {
  animation: fadeout 0.2s ease-in;
  opacity: 0;
}

.card {
  transition: 0.2s border-color ease-in;
  border: 2px solid var(--primary)
}

.bigger-jeff {
  animation: raise 0.2s ease-out;
  transform: translateY(-.5em);
  border: 2px solid var(--selected)
}

.smaller-jeff {
  animation: lower 0.2s ease-in;
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes raise {
  from {
    transform: none;
  }
  to {
    transform: translateY(-.5em);
  }
}

@keyframes lower {
  from {
    transform: translateY(-.5em);
  }
  to {
    transform: none;
  }
}